
:root {
    /* main background colors */
    --clr-header-background: linear-gradient(0deg, #effaf7, #79b5e7);
    
    /* secondary backgroud colors */
    --clr-delete-photo-button-background: linear-gradient(0deg, #f8e6cd, #e2a579);

    /* primary font colors */
    --clr-title-font: #102548;
    --clr-themes-font: #12274c;

    /* secondary font colors */
    --clr-delete-photo-button-font: #12274c;


    /* border colors" */
    --clr-delete-photo-button-border: #11082c84;


    /*todo-separator: hovering-colors */
    /* background colors */
    --clr-delete-photo-button-background-hover:  #e2a879a4;

    /* font colors */
    --clr-themes-font-hover: #804499;
    


    /*todo-separator: active-colors */
    /* background colors */
    --clr-delete-photo-button-background-active:  #bd9966bf;

    /* font colors */
    --clr-themes-font-active: #a464b2;
    
}

/* ! code separator */

.dark-mode {
    /* main background colors */
    --clr-header-background: linear-gradient(0deg, #2d4c60, #0a1925);
    
    /* secondary backgroud colors */
    --clr-delete-photo-button-background: linear-gradient(0deg, #83775e, #875e3b75);

    /* primary font colors */
    --clr-title-font: #e1ebf4;
    --clr-themes-font: #e1ebf4;

    /* secondary font colors */
    --clr-delete-photo-button-font: #e1ebf4;

    /* border colors" */
    --clr-delete-photo-button-border: #565c7584;


    /*todo-separator: hovering-colors */
    /* background colors */
    --clr-delete-photo-button-background-hover:  #75603c89;
    
    /* font colors */
    --clr-themes-font-hover: #bd8ed1;
    

    /*todo-separator: active-colors */
    /* background colors */
    --clr-delete-photo-button-background-active:  #9e915caf;


    /* font colors */
    --clr-themes-font-active: #eac9f2;
}



#gallery-header {
    background: var(--clr-header-background);
    display: grid;
    grid-template-columns: 1fr 100px 3fr 50px 1fr 40px;
    align-items: center;
    padding: 20px;
    column-gap: 20px;
    width: 100vw;
    box-sizing: border-box;
}

#gallery-title {
    grid-column: 1;
    color: var(--clr-title-font);
    margin: 0;
    text-align: center;
    letter-spacing: 0.1vw;
    font-size: 2vw;
}

#themes-container {
    grid-column: 3;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.theme-element {
    color: var(--clr-themes-font);
    font-size: 1.5vw;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.theme-element:hover {
    color: var(--clr-themes-font-hover);
    cursor: pointer;
}

.theme-element:active {
    color: var(--clr-themes-font-active);
    cursor: pointer;
}

#delete-photo-button {
    grid-column: 5;
    width: 7vw;
    height: 3vw;
    font-size: 1.2vw;
    letter-spacing: .2vw;
    border-radius: 20px;
    border: 2px solid var(--clr-delete-photo-button-border);
    background: var(--clr-delete-photo-button-background);
    color: var(--clr-delete-photo-button-font);
}

#delete-photo-button:hover {
    background: var(--clr-delete-photo-button-background-hover);
    transition: .2s;
}

#delete-photo-button:active {
    background: var(--clr-delete-photo-button-background-active);
}