:root {
    --clr-body-background: #effaf7;

}

/* ! code separator */

.dark-mode {
    --clr-body-background: #2d4c60;
}


body {
    background: var(--clr-body-background);
    margin: 0;
    font-family: cursive;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



@media (max-width: 768px) {
    #gallery-header {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #gallery-title,
    #themes-container,
    #filter-button {
        grid-column: 1;
    }
}
